# General
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# IDEs
.vscode/
.idea/

# Packer
iso/
downloaded_iso_path/
packer_cache/
*.auto.pkrvars.hcl
packer.log
.packer.lock.hcl

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example-variables.tfvars
backend.hcl
.terraform.lock.hcl
crash.log
